#score-pane {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    /* Add some space around the dices */
    padding-inline: 1rem;
    margin-top: 1rem;
}

.score {
    grid-column: 1;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.result {
    background-color: white;
    border: 1px solid black;
    padding: 0px 4px 0px 15px;
}

.score1 {
    grid-column: auto;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

