#score-pane {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    border: 1px solid black;
    /* Add some space around the dices */
    padding: 1rem;
}

.result {
    background-color: white;
    border: 1px solid black;
    padding-inline: 1rem;
}

#result-names {
    padding-bottom: 1rem;
}