/* add a grid around the score-pane */
#score-pane,
#score-pane2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    border: 1rem;    
}

/* Style the score divs */
.score {
    display: flex;
    align-items: center;
}

/* Style the paragraphs within the div */
.score p {
    margin: 0;
    flex: 1;
}

/* Style the input elements within the div */
.score input {
    flex: 1;
    margin-left: 10px;
}

